@charset "utf-8";
/* RESET */
* {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Roboto", "Noto Sans KR";
  letter-spacing: -0.02em;
  word-break: keep-all;
}
body {
  overflow: hidden;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* COMMON */
.container {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
/* HEADER */
header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: 0.5s all ease;
}
.header_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 20%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a {
  display: block;
}
.logo img {
  width: 252px;
  height: 39px;
}
.header_menu {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.depth1 {
  line-height: 100px;
}
.header_menu .depth1 > a {
  color: #fff;
  font-size: 18px;
  display: block;
  padding: 0 20px;
  margin: 0 15px;
  position: relative;
}
.depth2_bg {
  width: 100vw;
  background: rgb(244, 248, 250);
  position: absolute;
  top: 100px;
  left: 0;
  visibility: hidden;
}
.depth2_wrapper {
  width: 1210px;
  margin: 0 auto;
  display: flex;
}
.depth2_wrapper h2 {
  width: 170px;
  color: #003d7c;
  font-size: 32px;
  margin-right: 10px;
  margin-top: 10px;
}
.depth2 {
  display: flex;
  width: 100%;
  padding: 50px 0 50px 0;
  flex-wrap: wrap;
}
.depth2.first,
.depth2.third {
  flex-wrap: nowrap;
}
.depth2 > li {
  padding: 0px 30px 0px 30px;
  width: calc(25% - 62px);
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.depth2.second > li {
  width: 25%;
}
.depth2 > li > a.get_depth3 {
  margin-bottom: 15px;
}
.depth2 > li > a {
  margin-top: 0;
  margin-bottom: 50px;
  color: #145bd4;
}
.depth3 li a {
  color: #666;
  font-size: 16px;
}
.depth1::before {
  /* box-shadow: inset 0px -3px 0px 0px #003d7c; */
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 1.5px;
  left: 0;
  transition: 0.3s ease all;
}

/* color: #003d7c;  진한 파랑 */

.depth2 a {
  /* 옅은 파랑 */
  font-size: 20px;
  line-height: 20px;
}
.header_menu .depth1:hover::before {
  width: 100%;
}
.header_tool {
  width: 20%;
  display: flex;
  flex-direction: row;
}

.header_tool ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
.header_tool ul li {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
.header_tool ul li:nth-of-type(2) {
  padding-left: 0px;
}
.header_tool ul li:last-of-type {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.header_tool ul li a {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_tool ul li a i {
  color: #fff;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.depth3 {
  font-size: 16px;
  color: #666;
  line-height: 32px;
}
/* ACTIVE HEADER */
header.active {
  background: #fff;
}
header.active .depth1 > a {
  color: #666;
}
header.active .header_tool > ul > li > a,
header.active .header_tool > ul > li > a > i {
  color: #95c11f;
}
header.active .header_tool ul li:nth-of-type(2) a,
header.active .header_tool ul li:nth-of-type(2) a i {
  color: #666;
}

/* DROPDOWN MENU */
.active {
  visibility: visible;
}

/* FIRST PAGE */
.main_slide_wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}
.main_slide_wrapper li {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.main_slide_wrapper li img {
  height: 100%;
  display: block;
}
.main_slide_wrapper .main_slide2,
.main_slide_wrapper .main_slide3 {
  opacity: 0;
}

/* SECOND PAGE */
.section.second {
  background-image: url(../img/main/second_page_img_01.png);
  background-position: center;
  background-size: cover;
}
.section.second .container {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  height: calc(100% - 100px);
  transform: translateY(50px);
}
.business_text {
  color: #fff;
}
.kisa_text {
  color: #fff;
}

/* THIRD PAGE */
.section.third {
  background-color: rgb(233, 239, 250);
}
